@{
    ViewData["Title"] = "Login";
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
<div class="container d-flex justify-content-center align-items-center vh-85">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
        <h2 class="text-center text-primary"> @ViewData["Title"] </h2>
        <form method="post" action="/Auth/Login">
            <div class="mb-3">
                <label for="Username" class="form-label">Username</label>
                <input type="text" class="form-control" name="Username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="Password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100"> Login </button>
        </form>
    </div>
</div>